.showcase img {
  max-width: 100%;
}

.summary {
  font-size: $text-sm;
  font-style: italic;
  color: $color-button-primary;

  margin-bottom: $spacing-md;
}

img {
  border-radius: $border-radius;
}

img.circle {
  border-radius: 50%;
}

img.border {
  border: 5px solid white;
  box-shadow: 0 0 5px $color-button-primary;
}
