.summary {
  font-size: $text-sm;
  font-style: italic;
  color: $color-button-primary;

  margin-bottom: $spacing-md;
}

img        { border-radius: $border-radius; }
img.circle { border-radius: 50%; }
img.border {
  border: 5px solid white;
  box-shadow: 0 0 5px $color-button-primary;
}

.slideshow {
  position: relative;

  max-width: 500px;
  height: 350px;

  text-align: center;

  .slideshow-wrapper { position: relative; }

  img {
    @include border-box-sizing;

    position: absolute;
    left: 0;

    opacity: 0;
    &:first-child { opacity: 1; }
    transition: opacity .5s;

    /* TODO: mixin for slideshow with n images */
    &:nth-child(1) { animation: xfade 8s 0s infinite; }
    &:nth-child(2) { animation: xfade 8s 4s infinite; }
  }
}

@keyframes xfade {
 0%   { opacity: 0; }
 10%  { opacity: 1; }
 50%  { opacity: 1; }
 60%  { opacity: 0; }
}
