footer {
  @include link-color($color-tertiary-text);
  @include p-y-xl;

  background-color: $color-tertiary;
  color: $color-tertiary-text;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-align: justify;

  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  align-items: stretch;
  justify-content: space-around;

  .footer-block {
    @include p-x-xl;
    @include p-y-lg;

    @include device(tablet) {
      &:nth-child(2n) {
        border-left: 1px solid darken($color-tertiary-text, 30%);
      }
    }

    @include device(desktop) {
      &:not(:first-child) {
        border-left: 1px solid darken($color-tertiary-text, 30%);
      }
    }

    ul {
      list-style: none;
    }

    h5 {
      margin-bottom: $spacing-md;

      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
  }

  .copyright-notice {
    padding-top: $spacing-xl;
  }
}
