.form-group {
  @include p-y-sm;

  label {
    display: block;
    padding-bottom: $spacing-sm;
  }
}

.form-control {
  @include border-box-sizing;

  border: 1px solid $color-button-primary;
  border-radius: $border-radius;

  padding: $spacing-xs $spacing-sm;
  margin-right: $spacing-xs;
  margin-bottom: $spacing-xs;

  background: white;
  color: $color-button-primary-text;
}

textarea,
input[type="text"],
input[type="email"],
.dropdown select {
  @include device(handheld) { padding: .75 * $spacing-md $spacing-md; }
  @include device(desktop) { padding: $spacing-xs $spacing-xs; }

  &:focus,
  &:active {
    border-color: $color-primary;
  }
}

input[type="button"],
input[type="submit"],
.btn,
button {
  @include device(handheld) { padding: $spacing-md $spacing-xl; }
  @include device(desktop) { padding: $spacing-xs $spacing-md; }

  &:hover,
  &:focus {
    text-decoration: none;
    background: darken(white, 5%);
  }

  &:active,
  &:focus {
    text-decoration: none;
    background: darken(white, 10%);
  }
}

/** Dropdown **/
.dropdown select {
  /* override .form-control */
  margin: 0;

  padding-right: $spacing-lg;

  width: 100%;

  outline: none;
  cursor: pointer;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.dropdown::after {
  /* $fa-var-caret-down */
  content: "\f0d7";

  font-family: 'FontAwesome';
  font-size: $text-sm;
  color: black;
  margin-left: -2em;
}

textarea {
  @include device(handheld) { min-height: $size-lg; }
  @include device(desktop) { min-height: $size-md; }
  min-height: 100px;
}

/* placeholder override */
/* don't group selectors, because in most browsers one
 * invalid selector will invalidate the whole rule */
::-webkit-input-placeholder { font-style: italic; }
:-moz-placeholder           { font-style: italic; }
::-moz-placeholder          { font-style: italic; }
:-ms-input-placeholder      { font-style: italic; }

.dropdown select option::first-child { font-style: italic; }
