/**
 * The grid system uses a four-column layout.
 *
 * Unlike other grid systems, specifying 'two columns'
 * does NOT mean the element should be two columns wide,
 * but rather that there are maximum two columns.
 *
 * */

@mixin device($device) {
  @if $device == handheld {
    @media only screen and (min-width: 0) { @content; }
  }
  @else if $device == tablet {
    @media only screen and (min-width: $screen-tablet) { @content; }
  }
  @else if $device == desktop {
    @media only screen and (min-width: $screen-desktop) { @content; }
  }
}

.column,
.columns {
  display: inline-block;

  vertical-align: top;

  @include border-box-sizing;

  @include device(handheld) {
    @include p-sm;
    &.one,
    &.two,
    &.three,
    &.four  { width: 100%; }
  }

  @include device(tablet) {
    @include p-md;
    &.one   { width: 100%; }
    &.two,
    &.three,
    &.four  { width: 50%; }
  }

  @include device(desktop) {
    @include p-lg;
    &.one   { width: 100%; }
    &.two   { width: 50%; }
    &.three { width: 33.33%; }
    &.four  { width: 25%; }
  }
}
