/**
 * The grid system uses a four-column layout.
 *
 * */

@mixin device($device) {
  @if $device == handheld {
    @media only screen and (min-width: 0) { @content; }
  }
  @else if $device == tablet {
    @media only screen and (min-width: $screen-tablet) { @content; }
  }
  @else if $device == desktop {
    @media only screen and (min-width: $screen-desktop) { @content; }
  }
}

.row {
  margin-bottom: $spacing-xxl;
}

.column,
.columns {
  display: inline-block;

  vertical-align: top;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* handheld */
  @include p-sm;
  &.one,
  &.two,
  &.three,
  &.four  { width: 100%; }

  /* tablet */
  @media only screen and (min-width: $screen-tablet) {
    @include p-md;
    &.one   { width: 100%; }
    &.two,
    &.three,
    &.four  { width: 50%; }
  }

  /* desktop */
  @media only screen and (min-width: $screen-desktop) {
    @include p-lg;
    &.one   { width: 100%; }
    &.two   { width: 50%; }
    &.three { width: 33.33%; }
    &.four  { width: 25%; }
  }
}
