header {
  @include link-color($color-primary-text, none);

  background: $color-tertiary;

  width: 100%;
  height: 64px;

  &.cover {
    background: url('../images/background.jpg') no-repeat;
    background-size: cover;

    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    h1 {
      @include p-lg;

      color: $color-primary-text;
      font-family: 'Pacifico', sans-serif;
      font-size: $text-xxl;

      text-align: center;
    }

    h3 {
      @include p-md;

      color: rgba($color-primary-text, 0.95);
      font-family: 'Montserrat';
      font-size: $text-md;

      text-align: center;
    }
  }
}
