nav > ul {
  @include p-x-lg;

  list-style: none;

  background-color: rgba(white, 0.3);

  align-self: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  li:first-child {
    align-self: flex-start;
  }
  li:nth-child(2) {
    margin-left: auto;
  }

  li > a {
    @include p-y-lg;
    @include p-x-md;
    display: block;

    font-family: 'Montserrat', sans-serif;
    font-size: $text-md;
    font-weight: 400;
  }
  }
