header {
  width: 100%;

  background-color: $color-primary;

  border-bottom: 1px solid darken($color-primary, 10%);

  nav > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    & > li > a {
      display: block;
      padding: $p-md;

      color: $color-primary-text;
      font-weight: 700;

      &:visited,
      &:focus,
      &:hover,
      &:active {
        color: $color-primary-text;
      }
    }
  }
}
