$space-unit: 1rem;
$text-unit: 1em;

/* padding */
$p-sm: .5  * $space-unit;
$p-md: 1   * $space-unit;
$p-lg: 2   * $space-unit;
$p-xl: 4   * $space-unit;


/* colours */
$color-primary: #DC3919;
$color-primary-text: white;
$color-secondary: #FBFBFB;
$color-secondary-text: #4A4A4A;
