<footer class="row">
  <div class="footer-block four columns">
    <h5>About</h5>
    Florian Dejonckheere is a systems administrator and application developer located in Ghent, Belgium. His main focus is Ruby, but once in a while he allows himself to get down and dirty with C or C++.
  </div>
  <div class="footer-block four columns">
    <h5>Sitemap</h5>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="personal.html">Personal</a></li>
      <li><a href="italent.html">I<sup>1</sup>Talent</a></li>
      <li><a href="curriculum-vitae.html">Curriculum Vitae</a></li>
      <li><a href="portfolio.html">Portfolio</a></li>
      <li><a href="hobbies.html">Hobbies</a></li>
      <li><a href="links.html">Links</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
  <div class="footer-block four columns">
    <h5>Contact</h5>
    <div class="icon-bar">
      <a href="https://florian.dejonckhee.re" target="_blank"><i class="fa fa-globe"></i></a>
      <a href="https://github.com/floriandejonckheere" target="_blank"> <i class="fa fa-github"></i></a>
      <a href="https://twitter.com/thalariond" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="mailto:florian@dejonckhee.re"><i class="fa fa-envelope"></i></a>
      <a href="skype://floriandejonckheere"><i class="fa fa-skype"></i></a>
    </div>
  </div>
  <div class="u-full-width u-text-center copyright-notice">
    &copy; Florian Dejonckheere - all rights reserved
  </div>
</footer>
