<header>
  <nav>
    <ul>
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="html/personal.html">Personal</a></li>
      <li><a href="html/italent.html">I<sup>1</sup>Talent</a></li>
      <li><a href="html/curriculum-vitae.html">Curriculum Vitae</a></li>
      <li><a href="html/portfolio.html">Portfolio</a></li>
      <li><a href="html/hobbies.html">Hobbies</a></li>
      <li><a href="html/links.html">Links</a></li>
      <li><a href="html/contact.html">Contact</a></li>
    </ul>
  </nav>
</header>
