/**
 * Content
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */

section {
  aside {
    @include desktop {
      display: block;
      position: absolute;
      float: left;

      margin-left: -1 * $content-offset;
      width: $content-offset;

      text-align: right;
    }

    h2 {
      padding-right: 2rem;

      @include desktop {
        padding-left: $content-offset / 3;
      }
    }

    em {
      font-size: .8em;
      padding-right: 2rem;
    }
  }

  .links {
    text-align: right;

    .separator {
      color: $color-inactive;

      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.section-divider {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;

  border: 2px solid $color-accent;

  width: 5rem;
}
