/**
 * Responsive design
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */

// Left offset for content text
$content-offset: 30vw;

@mixin mobile {
  @media only screen and (max-width: 1000px) { @content; }
}

@mixin desktop {
  @media only screen and (min-width: 1000px) { @content; }
}

.column {
  display: block;

  margin-right: auto;
  margin-left: auto;

  padding: 2rem;

  max-width: 40rem;

  @include desktop {
    padding-left: $content-offset;

    margin-top: 5rem;
  }
}
