/**
 * Variables
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */

// Colors
$color-accent: #FBC547;
$color-link: transparentize($color-accent, .8);
$color-inactive: darken(white, 10%);

// Left offset for content
$content-offset: 25vw;
