/**
 * Variables
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */

/**
 * Colors
 *
 */
$color-accent: #FBC547;
$color-link: rgba(251, 197, 71, 0.2);
$color-inactive: darken(white, 10%);
