/**
 * Site stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */

@import "variables";
@import "grid";

body {
  font-family: 'EB Garamond', sans-serif;
  font-size: 1.65em;
  line-height: 1.4em;
}

h1 {
  border-top: 2rem solid $color-accent;

  padding-top: 4rem;
  padding-bottom: 2rem;

  margin: 0;

  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.2em;
}
