/**
 * Site stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */

@import "variables";
@import "fonts";
@import "grid";
@import "navigation";
@import "content";

body {
  font-family: 'EB Garamond', sans-serif;
  font-size: 1.65em;
  line-height: 1.4em;
}

.stripe {
  border: 1rem solid $color-accent;

  margin-bottom: 7.5rem;
}

/**
 * Typography
 *
 */
p {
  margin: 0;
  padding: 0;

  padding-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;

  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  line-height: 1.2em;
  padding-bottom: 3rem;
}

h2 {
  line-height: 1.4em;
  font-size: 1.2em;
}

/**
 * Links
 *
 */
a,
a:visited,
a:focus {
  color: black;
  text-transform: uppercase;
  text-decoration: none;

  letter-spacing: .08em;
  font-size: .8em;
}

a:hover {
  background-color: $color-link;
  border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
  a:hover {
    background-color: transparent;
  }

  // Permalink
  &:hover a:before {
    content: '#';
    color: darken($color-inactive, 10%);
    padding-right: 1rem;
  }
}

/**
 * Lists
 *
 */
ul {
  padding-top: 0;
  margin-top: 0;

  list-style: none;
}
