/**
 * Site stylesheet
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */

@import "variables";
@import "grid";

body {
  font-family: 'EB Garamond', sans-serif;
  font-size: 1.65em;
  line-height: 1.4em;
}

h1 {
  border-top: 2rem solid $color-accent;

  padding-top: 4rem;
  padding-bottom: 2rem;

  margin: 0;

  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.2em;
}

a,
a:visited,
a:focus {
  color: black;
  text-transform: uppercase;
  text-decoration: none;

  letter-spacing: .08em;
  font-size: .8em;
}

a:hover {
  background-color: $color-link;
  border-radius: 8px;
}

/**
 * Navigation
 *
 */
.nav {
  padding-left: 3rem;

  @include mobile {
    padding-left: 0;

    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;

    font-family: 'Josefin Sans', sans-serif;
    font-size: .8em;

    li {
      display: inline-block;
      padding: 1rem 2rem;

      @include mobile { padding: 1rem 3rem; }

      a {
        padding-bottom: .5rem;

        &:hover {
          background-color: transparent;
          border-radius: 0;

          border-bottom: 3px solid lighten($color-accent, 30%);
        }
      }

      &.active a {
        border-bottom: 3px solid $color-accent;
      }

      @include desktop {
        &:not(:last-child):after {
          content: '/';
          color: $color-inactive;
          padding-left: 3rem;
        }
      }
    }
  }
}
