<!DOCTYPE html>
<html>
  <head>
    <title>Florian Dejonckheere - About</title>

    include "styles"
  </head>
  <body>
    <div class="wrapper">
      <header>
        include "nav"
      </header>

      <main>
        <h1>About me</h1>
        <section>
          <h3>Personal</h3>
          <p class="u-text-center">
            <img src="images/personal/avatar.jpg" alt="avatar" class="circle border">
          </p>
          <p>
            Hi there! My name is Florian, I am a student at HoGent in Ghent, Belgium. I like Belgian chocolate, Gueuze lambic-beer and riding my bike while I think about life the universe and everything. I have been fascinated by computers since I was little, and I made my first website at the age of 9. I switched to using Linux full-time when I was 13 years old, distrohopping from Ubuntu to Mandrake until I finally found the perfect distribution: <a href="https://www.archlinux.org/">Arch Linux</a>. I am currently a maintainer in the <a href="https://aur.archlinux.org/">Arch User Repository</a>, where I maintain Arch Linux packages.
          </p>
        </section>
        <section>
          <h3>Nice to know</h3>
          <ul>
            <li>Born on a Thursday at three o'clock in the morning</li>
            <li>Third child, has two brothers</li>
            <li>Linux User #481934</li>
            <li>Enjoys the moment between waking up and actually having to get up</li>
          </ul>
        </section>
      </main>

      include "footer"
    </div>
  </body>
</html>
