<!DOCTYPE html>
<html>
  <head>
    <title>Florian Dejonckheere - Contact</title>

    include "styles"
  </head>
  <body>
    <div class="wrapper">
      <header>
        include "nav"
      </header>

      <main>
        <section>
          <div class="three columns">
            <h1>Contact</h1>
            If you wish to contact me, please fill out the following form.
            <form action="mailto:florian@dejonckhee.re" method="get">
              <fieldset>
                <div class="form-group">
                  <label for="first_name">First name</label>
                  <input type="text" name="first_name" placeholder="First name" id="first_name" required class="form-control u-full-width" />
                </div>
                <div class="form-group">
                  <label for="last_name">Last name</label>
                  <input type="text" name="last_name" placeholder="Last name" id="last_name" class="form-control  u-full-width" />
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" name="email" placeholder="Email" id="email" class="form-control u-full-width" />
                </div>
                <div class="form-group">
                  <label for="priority">Priority</label>
                  <label class="dropdown u-full-width">
                    <select name="priority" id="priority" required class="form-control">
                      <option selected>Select a priority</option>
                      <option value="low">Low</option>
                      <option value="medium">Medium</option>
                      <option value="high">High</option>
                    </select>
                  </label>
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea name="message" id="message" class="form-control u-full-width"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" name="submit" value="Send" class="form-control" />
                </div>
              </fieldset>
            </form>
          </div>
        </section>
      </main>

      include "footer"
    </div>
  </body>
</html>
