<!DOCTYPE html>
<html>
  <head>
    <title>Florian Dejonckheere - Hobbies</title>

    include "styles"
  </head>
  <body>
    <div class="wrapper">
      <header>
        include "nav"
      </header>

      <main>
        <section>
          <h1>Hobbies</h1>
          <div class="two columns padding">
            <h2>Athletics</h2>
            <img src="images/personal/athletics.jpg" alt="Athletics" class="inline-image border u-float-left">
            In my free time I practice athletics at my local athletics team. I've been doing this since I was little.
            When I say athletics, most people assume I just run laps, but in fact I'm a thrower. I practice shot put and discus throwing, two branches of athletics which in my opinion are underappreciated.
          </div><div class="two columns padding">
            <h2>Music</h2>
            <img src="images/personal/music.jpg" alt="Music" class="inline-image border u-float-right">
            I listen to a wide variation of music, from heavy metal to ambient to 1950s big band jazz. If you see me in public, chances are I have my music player with me and my IEMs in my ears.
            <br>
            I am currently in the process of developing an online platform that can predict and suggest music you might like based on a personalized profile of artists and albums you have given a rating. It uses a huge aggregated database of music and a set of complex predictive algorithms to determine your personal music taste.
          </div>
        </section>
      </main>

      include "footer"
    </div>
  </body>
</html>
