<!DOCTYPE html>
<html>
  <head>
    <title>Florian Dejonckheere - Portfolio</title>

    include "styles"
  </head>
  <body>
    <div class="wrapper">
      <header>
        include "nav"
      </header>

      <main>
        <h1>Portfolio</h1>
        <!-- sadly, inline-block elements take whitespace and linebreaks
              into account, so please don't place a newline between rows -->
        <section>
          <div class="two columns padding">
            <h4>ePortfolio</h4>
            <p class="summary">
              Written in HTML5 and CSS3
            </p>
            <p>
              A website written in pure HTML5 and CSS3 for the course Webapplications I. This website allows students and lectors to communicate assignments and reports during the student's academic career.
              <hr>
              <a href="https://www.github.com/floriandejonckheere/wapps-i-portfolio/" class="form-control btn" target="_blank">
                <i class="fa fa-github"></i> GitHub
              </a>
              <a href="http://users.hogent.be/floriandejonckheere/eportfolio/" class="form-control btn" target="_blank"><i class="fa fa-globe"></i> Online
              </a>
            </p>
          </div><div class="two columns padding">
            <img src="images/portfolio/eportfolio.png" alt="thalariond" class="border">
          </div>
        </section>
        <section>
          <div class="two columns padding slideshow">
            <img src="images/portfolio/thalariond-001.png" alt="thalariond" class="border">
            <img src="images/portfolio/thalariond-002.png" alt="thalariond" class="border">
          </div><div class="two columns padding">
            <h4>Thalariond</h4>
            <p class="summary">
              Written in Ruby and Ruby on Rails, active development
            </p>
            <p>
              Thalariond is a suite of services providing a centralized user management system, which gives the system administrator finegrained control over users and permissions. It consists of a database and a Ruby on Rails applications allowing access to users, permissions, domains and email addresses, as well as an LDAP backend written in plain Ruby. LDAP is the de facto standard for user directories in open source projects as well as enterprise solutions.
              <hr>
              <a href="https://www.github.com/floriandejonckheere/thalariond/" class="form-control btn" target="_blank">
                <i class="fa fa-github"></i> GitHub
              </a>
              <a href="https://www.thalarion.be/" class="form-control btn" target="_blank"><i class="fa fa-globe"></i> Online
              </a>
            </p>
          </div>
        </section>
        <section>
          <div class="two columns padding">
            <h4>Headbanger</h4>
            <p class="summary">
              Written in Ruby on Rails, proof-of-concept
            </p>
            <p>
              Headbanger is a music recommendation and discovery platform. It uses hybrid collaborative and content-based filtering to determine novel artists and albums based on the user's previous ratings. The service uses many qualitative and quantitative music properties &ndash; such as rhythm and vocal type &ndash; to create personalized suggestions.
              <hr>
              <a href="https://www.github.com/floriandejonckheere/headbanger/" class="form-control btn" target="_blank">
                <i class="fa fa-github"></i> GitHub
              </a>
            </p>
          </div><div class="two columns padding">
            <img src="images/portfolio/headbanger.png" alt="headbanger" class="border">
          </div>
        </section>
        <section>
          <div class="two columns padding">
            <img src="images/portfolio/project-vdb.png" alt="fuzzy car controller" class="border">
          </div><div class="two columns padding">
            <h4>Fuzzy Car Controller</h4>
            <p class="summary">
              Written in Java
            </p>
            <p>
              Fuzzy logic was introduced by Lotfi Zadeh in 1965. He proposed a new approach to causative computing, drawing the analogy with humans which usually reason in &ldquo;fuzzy&rdquo; terms.
              <br>
              This project implements a fuzzy rule-based system using Zadeh's fuzzy logic, including a practical application &ndash; the fuzzy car controller. It parses sensorial data and predefined rules to allow a race-car to navigate a simplified race track autonomously.
              <hr>
              <a href="https://www.github.com/floriandejonckheere/project-vdb/" class="form-control btn" target="_blank">
                <i class="fa fa-github"></i> GitHub
              </a>
            </p>
          </div>
        </section>
        <section>
          <div class="two columns padding">
            <h4>Semantic Search Engine</h4>
            <p class="summary">
              Written in Turtle, JavaScript and Ruby on Rails
            </p>
            <p>
              A simple content-based search engine that uses a custom Semantic Web ontology to query a predefined SPARQL endpoint.
              <hr>
              <a href="https://www.github.com/floriandejonckheere/itech-practicum3/" class="form-control btn" target="_blank">
                <i class="fa fa-github"></i> GitHub
              </a>
            </p>
          </div><div class="two columns padding slideshow">
            <img src="images/portfolio/itech-practicum3-001.png" alt="semantic search engine" class="border">
            <img src="images/portfolio/itech-practicum3-002.png" alt="semantic search engine" class="border">
          </div>
        </section>
        <section>
          <div class="two columns padding slideshow">
            <img src="images/portfolio/itech-practicum1-001.png" alt="itech-practicum1" class="border">
            <img src="images/portfolio/itech-practicum1-002.png" alt="itech-practicum1" class="border">
          </div><div class="two columns padding">
            <h4>Event Management I</h4>
            <p class="summary">
              Written in Ruby on Rails
            </p>
            <p>
              An event management system written in Ruby on Rails. It utilizes the Bootstrap CSS framework and teaches the principles of a RESTful web.
              <hr>
              <a href="https://www.github.com/floriandejonckheere/itech-practicum1/" class="form-control btn" target="_blank">
                <i class="fa fa-github"></i> GitHub
              </a>
            </p>
          </div>
        </section>
        <section>
          <div class="two columns padding">
            <h4>Event Management II</h4>
            <p class="summary">
              Written in Java
            </p>
            <p>
              An Android adaptation of the RESTful event management system.
              <hr>
              <a href="https://www.github.com/floriandejonckheere/itech-practicum2/" class="form-control btn" target="_blank">
                <i class="fa fa-github"></i> GitHub
              </a>
            </p>
          </div><div class="two columns padding slideshow">
            <img src="images/portfolio/itech-practicum2-001.png" alt="itech-practicum2" class="border">
            <img src="images/portfolio/itech-practicum2-002.png" alt="itech-practicum2" class="border">
          </div>
        </section>
        <section>
          <div class="two columns padding">
            <img src="images/portfolio/project-soi.png" alt="bust-a-bobble" class="border">
          </div><div class="two columns padding">
            <h4>Bust-a-Bobble</h4>
            <p class="summary">
              Written in C++
            </p>
            <p>
              A C++ reimplementation of the classic bubble shooter game, supporting both multiplayer and single player (utilizing a simple AI).
              <hr>
              <a href="https://www.github.com/floriandejonckheere/project-soi/" class="form-control btn" target="_blank">
                <i class="fa fa-github"></i> GitHub
              </a>
            </p>
          </div>
        </section>
        <section>
          <div class="two columns padding">
            <h4>Arch User Repository</h4>
            <p class="summary">
              Written in Bash
            </p>
            <p>
              A collection of (unofficial) Arch Linux packages available for installation maintained by the community for the community.
              <hr>
              <a href="https://github.com/floriandejonckheere/PKGBUILD-AUR4" class="form-control btn" target="_blank">
                <i class="fa fa-github"></i> GitHub
              </a>
              <a href="https://aur.archlinux.org/packages/?SeB=m&K=Florian" class="form-control btn" target="_blank">
                <i class="fa fa-linux"></i> AUR
              </a>
            </p>
          </div><div class="two columns padding">
            <img src="images/portfolio/aur.png" alt="aur" class="border">
          </div>
        </section>
        <section>
          <div class="two columns padding">
            <img src="images/portfolio/ruby-ldapserver.png" alt="ruby-ldapserver" class="border">
          </div><div class="two columns padding">
            <h4>ruby-ldapserver</h4>
            <p class="summary">
              Written in Ruby, on hold
            </p>
            <p>
              A plain Ruby implementation of an RFC 4510 Lightweight Directory Access Protocol (LDAP) server.
              <hr>
              <a href="https://www.github.com/floriandejonckheere/ruby-ldapserver/" class="form-control btn" target="_blank">
                <i class="fa fa-github"></i> GitHub
              </a>
            </p>
          </div>
        </section>
        <section>
          <div class="two columns padding">
            <h4>PoweraMPD</h4>
            <p class="summary">
              Written in Java, on hold
            </p>
            <p>
              A Music Player Daemon (MPD) Protocol-compatible interface layer to the popular Android media player Poweramp.
              <hr>
              <a href="https://www.github.com/floriandejonckheere/powerampd" class="form-control btn" target="_blank">
                <i class="fa fa-github"></i> GitHub
              </a>
            </p>
          </div><div class="two columns padding slideshow">
            <img src="images/portfolio/powerampd-001.png" alt="powerampd" class="border">
            <img src="images/portfolio/powerampd-002.png" alt="powerampd" class="border">
          </div>
        </section>
        <section>
          <div class="two columns padding slideshow">
            <img src="images/portfolio/skeleton-ui-001.png" alt="skeleton-ui" class="border">
            <img src="images/portfolio/skeleton-ui-002.png" alt="skeleton-ui" class="border">
          </div><div class="two columns padding">
            <h4>Skeleton UI</h4>
            <p class="summary">
              Written in LESS, on hold
            </p>
            <p>
              Lean and mean lightweight CSS UI framework based on <a href="http://www.getskeleton.com">Skeleton</a>
              <hr>
              <a href="https://www.github.com/floriandejonckheere/skeleton-ui/" class="form-control btn" target="_blank">
                <i class="fa fa-github"></i> GitHub
              </a>
              <a href="https://www.floriandejonckheere.be/skeleton-ui/examples/" class="form-control btn" target="_blank">
                <i class="fa fa-globe"></i> Demo
              </a>
            </p>
          </div>
        </section>
        <section>
          <div class="two columns padding">
            <h4>Tiler</h4>
            <p class="summary">
              Written in HTML, CSS and Javascript
            </p>
            <p>
               Small web application to scribble your thoughts in.
              <hr>
              <a href="https://www.github.com/floriandejonckheere/tiler" class="form-control btn" target="_blank">
                <i class="fa fa-github"></i> GitHub
              </a>
              <a href="https://www.floriandejonckheere.be/tiler" class="form-control btn" target="_blank">
                <i class="fa fa-globe"></i> Demo
              </a>
            </p>
          </div><div class="two columns padding">
            <img src="images/portfolio/tiler.png" alt="tiler" class="border">
          </div>
        </section>
      </main>

      include "footer"
    </div>
  </body>
</html>
