<header>
  <a href="#">
    <h1>Florian Dejonckheere</h1>
  </a>
  <nav>
    <!-- Responsive menu button -->
    <input type="checkbox" id="menu-toggle" name="menu-toggle">
    <label for="menu-toggle" id="menu-button">
      <i class="fa fa-bars"></i>
    </label>
    <!-- Menu -->
    <ul>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About me</a></li>
      <li><a href="#">GPG Keys</a></li>
      <li><a href="#">Links</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
