---
title: Contact
order: 2
---

<h1>
  Contact
</h1>
<p>
  You can contact me through email on<br />
  <a href="mailto:florian+portfolio@floriandejonckheere.be">florian@floriandejonckheere.be</a>
</p>

<p>
  I also hang around on <a href="https://github.com/floriandejonckheere">GitHub</a>.
</p>
