---
title: Home
order: 0
---

<h1>
  Hallo!<br />
  Mijn naam is Florian
</h1>
<p>
  Ik ben een student toegepaste informatica en application developer in Gent, Belgi&euml; Ik bouw graag dynamiche webapplicaties in <a href="https://www.ruby-lang.org">Ruby</a> en <a href="http://rubyonrails.org">Ruby on Rails</a>.
</p>

<p>
  Deze website was op maat ontworpen en geschreven door mij. Hij was ontwikkeld in het kader van een praktische studie omtrent typographie en minimalisme. Zoals het meeste van mijn werk is de source code beschikbaar op <a href="https://github.com/floriandejonckheere/minimalist-cover">GitHub</a>.
</p>

<p>Deze site is beschikbaar in <%= link_to 'English', '/index.html' %>, <%= link_to 'Nederlands', '/nl/index.html' %> and <%= link_to 'fran&ccedil;ais', '/fr/index.html' %></p>
