---
title: Home
order: 0
---

<h1>
  Hello there!<br />
  My name is Florian
</h1>
<p>
  I'm a student applied computer science and application developer located in Ghent, Belgium. I like writing software in <a href="http://rubyonrails.org">Ruby on Rails</a> and building dynamic web applications.
</p>

<p>
  This website was custom designed and written by myself. Like almost all of my work, the source code is available on <a href="https://github.com/floriandejonckheere/minimalist-cover">GitHub</a> and <a href="https://twitter.com/fldjonck/">Twitter</a>.
</p>
