---
title: Home
order: 0
---

<h1>
  Hello there!<br />
  My name is Florian
</h1>
<p>
  I'm a student applied computer science and application developer located in Ghent, Belgium. I like writing software in Ruby on Rails and building dynamic web applications.
</p>
