---
title: Acceuil
order: 0
---

<h1>
  Bonjour!<br />
  Je m'appelle Florian
</h1>
<p>
  Je suis un &eacute;tudiant d'informatique appliqu&eacute; et d&eacute;veloppeur d'applications situ&eacute; &agrave; Gand, Belgique. J'aime &eacute;crire des logiciels dans <a href="http://rubyonrails.org">Ruby on Rails</a> et cr&eacute;er des applications dynamiques.
</p>

<p>
  Ce site internet a &eacute;t&eacute; con&ccedil;u et &eacute;crit par moi-même. Il a &eacute;t&eacute; r&eacute;alis&eacute; comme une &eacute;tude pratique sur la typographie et le minimalisme. Comme presque toutes mes projets, le code source est disponible sur <a href="https://github.com/floriandejonckheere/minimalist-cover">GitHub</a>.
</p>

<p>Si vous &ecirc;tes int&eacute;ress&eacute;s par mon profil professionnel, vous pouvez t&eacute;l&eacute;charger mon <%= link_to 'curriculum vitae', 'files/Curriculum Vitae Florian Dejonckheere.pdf' %>.</p>

<p>Ce site est disponible en <%= link_to 'English', '/index.html' %>, <%= link_to 'Nederlands', '/nl/index.html' %> and <%= link_to 'fran&ccedil;ais', '/fr/index.html' %></p>
