---
title: Florian Dejonckheere
---

<h1 class="welcome">
  Hello there! <br />
  My name is Florian
</h1>
<p>
  I'm a student applied computer science and applications developer located in Ghent, Belgium. I like writing software in Ruby on Rails and building dynamic web applications.
</p>
