---
title: Portfolio
order: 1
---

<section>
  <aside>
    <h2>Open Webslides</h2>
    <em>Ruby on Rails, React, Redux</em>
  </aside>
  <p>
    What if course material could...
    <ul>
      <li>be <em>co-created</em> by teachers, students and professionals?</li>
      <li>make full use of <em>interactive</em> web tools?</li>
      <li><em>transcend</em> courses and span multiple subjects?</li>
      <li>promote a <em>personal</em> learning approach?</li>
      <li>be <em>shared</em> with the educational community?</li>
    </ul>
  </p>

  <p>
    Open Webslides is a platform to create interactive course material that promotes co-creation with students and collegues. It is built with modern web technologies and standards to promote an interactive and accessible learning environment
  </p>

  <p class="links">
    <a href="https://openwebslides.github.io">Website</a> <span class="separator">/</span> <a href="https://github.com/OpenWebslides/OpenWebslides">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2>Headbanger</h2>
    <em>Ruby on Rails, Neo4j</em>
  </aside>

  <p>
    Heavy Metal music recommendation and discovery platform. Built upon graph databases, it uses hybrid collaborative and content-based filtering to determine novel artists and albums based on the user's previous ratings (not yet launched)
  </p>

  <p class="links">
    <a href="https://headbang.re">Website</a> <span class="separator">/</span> <a href="https://github.com/floriandejonckheere/headbanger">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2>TelecomCostExpert: WebGraph</h2>
    <em>jQuery, CytoscapeJS, JavaScript</em>
  </aside>

  <p>
    Development of an interactive web component: visualization of a directed acyclic graph containing finanicial information (closed source)
  </p>

  <p class="links">
    <a href="http://www.telecomcostexpert.com/">Website</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2>thalariond</h2>
    <em>Ruby on Rails, Docker, LDAP</em>
  </aside>

  <p>
    Custom-built user management system for centralizing email and other services, written in pure Ruby and Ruby on Rails
  </p>

  <p class="links">
    <a href="https://www.thalarion.be">Website</a> <span class="separator">/</span> <a href="https://github.com/floriandejonckheere/thalariond">Source code</a>
  </p>
</section>


<div class="section-divider"></div>

<section>
  <aside>
    <h2>PoweraMPD</h2>
    <em>Java, Android</em>
  </aside>

  <p>
    A Music Player Daemon (MPD) Protocol-compatible interface layer to the popular Android media player Poweramp. It allows you to control and browse your Android phone's media library from your computer, or even another phone
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/powerampd">Source code</a>
  </p>
</section>
