<article>
  <h2>About me</h2>
  <p>Hi there! My name is Florian, I am a student Applied Computer Science at HoGent in Ghent, Belgium. I wrote this site by hand for I<sup>1</sup>Talent to keep track of assignments and reports. It's also home to my portfolio, which contains small excerpts of projects I have completed or am working on.</p>
  <p>This website was designed by hand using HTML5 and CSS3. It utilizes AngularJS to provide a seamless single-page experience. The source code for this website and my <a href="https://florian.dejonckhee.re/">main website</a> &mdash which uses the same base design &mdash; is available on my profile at <a href="https://github.com/floriandejonckheere/wapps-i-portfolio">GitHub</a>.</p>
</article>
<article>
  <h2>Curriculum Vitae</h2>
  <p class="u-text-center">
    <a href="files/Curriculum Vitae Florian Dejonckheere.pdf" class="btn"><i class="fa fa-download"></i> Curriculum Vitae</a>
  </p>
</article>
