<article>
  <center>
    <img src="assets/images/avatar.jpg" alt="avatar" class="circle border">
  </center>
  <p>
    Hi there! My name is Florian, I am a student Applied Computer Science at HoGent in Ghent, Belgium. I wrote this site by hand for I<sup>1</sup>Talent to keep track of assignments and reports. It's also home to my portfolio, which contains small excerpts of projects I have completed or am working on.
  </p>
  <p>
    This website was designed by hand using HTML5 and CSS3. It utilizes AngularJS to provide a seamless single-page experience. The source code for this website and my <a href="https://florian.dejonckhee.re/">main website</a> &mdash; which uses the same base design &mdash; is available on my profile at <a href="https://github.com/floriandejonckheere/wapps-i-portfolio">GitHub</a>.
  </p>
  <h3>Nice to know</h3>
  <ul>
    <li>Born on a Thursday at three o'clock in the morning</li>
    <li>Third child, has two brothers</li>
    <li>Linux User #481934</li>
    <li>Enjoys the moment between waking up and actually having to get up</li>
  </ul>
  <h3>Hobbies</h3>
  <p>
    In my free time I practice athletics at my local athletics team. I've been doing this since I was little. When I say athletics, most people assume I run short or long distance, but in fact I'm a thrower. I practice shot put and discus throwing, two branches of athletics which in my opinion are underappreciated and -represented.
   </p>
   <p>
      I also listen to a wide variation of music, from heavy metal to ambient to 1950s big band jazz. If you see me in public, chances are I have my music player with me and my IEMs in my ears.<br>
      I am currently in the process of developing an online platform that can predict and suggest music you might like based on a personalized profile of artists and albums you have given a rating. It uses a huge aggregated database of music and a set of complex predictive algorithms to determine your personal music taste.
  </p>
</article>
<article>
  <h2>Curriculum Vitae</h2>
  <p class="u-text-center">
    <a href="files/Curriculum Vitae Florian Dejonckheere English.pdf" class="btn"><i class="fa fa-download"></i> Curriculum Vitae (English)</a>
    <a href="files/Curriculum Vitae Florian Dejonckheere Dutch.pdf" class="btn"><i class="fa fa-download"></i> Curriculum Vitae (Dutch)</a>
  </p>
</article>
