<aside class="u-text-center u-full-width">
  <a href="#/i2talent#opdracht-i">Opdracht 1</a> &mdash;
  <a href="#/i2talent#opdracht-ii">Opdracht 2</a> &mdash;
  <a href="#/i2talent#opdracht-iii">Opdracht 3</a> &mdash;
  <a href="#/i2talent#opdracht-iv">Opdracht 4</a>
</aside>

<article id="opdracht-i">
  <h2>Opdracht 1: Ofman Kernkwadranten</h2>

  <p>
    Een goede manier om je sterke en je zwakke punten helder te krijgen, is je kernkwaliteiten en kernkwadranten in kaart te brengen. Deze veelgebruikte, heldere en toegankelijke methode kan je ook gebruiken om conflicten met anderen te analyseren.
  </p>

  <p class="u-text-center">
    <a href="files/Dejonckheere_Florian_Ofman.pdf" class="btn"><i class="fa fa-paperclip"></i> Ofman Kernkwadranten</a>
  </p>
</article>

<article id="opdracht-ii">
  <h2>Opdracht 2: Competence Indicator</h2>

  <p>
    De Competence Indicator is een wetenschappelijke test die ontwikkeld werd door Vlerick Business School. De test geeft je feedback over je professionele sterktes en zwaktes.
  </p>

  <p class="u-text-center">
    <a href="files/Dejonckheere_Florian_Competence_Indicator_Certificate.pdf" class="btn"><i class="fa fa-paperclip"></i> Certificaat</a>
    <a href="files/Dejonckheere_Florian_Competence_Indicator_Reflectie.pdf" class="btn"><i class="fa fa-paperclip"></i> Reflectie</a>
  </p>
</article>

<article id="opdracht-iii">
  <h2>Opdracht 3: Getuigenis</h2>

  <p>
    De getuigenis werd afgenomen van <a href="http://users.hogent.be/jasperdhaene/eportfolio" target="blank">Jasper D'haene</a>.
  </p>

  <p class="u-text-center">
    <a href="files/Dejonckheere_Florian_Getuigenis.mp4" class="btn"><i class="fa fa-file-video-o"></i> Getuigenis (videobestand)</a>
    <a href="files/Dejonckheere_Florian_Getuigenis.pdf" class="btn"><i class="fa fa-paperclip"></i> Reflectie</a>
  </p>
</article>

<article id="opdracht-iv">
  <h2>Opdracht 2: DISC</h2>

  <p>
    Het DISC instrument is een persoonlijkheidsanalyse. DISC geeft mensen een diepgaand inzicht in hun eigen persoonlijkheidsstijl en die van anderen. De DISC beschrijvingen geven in begrijpelijke taal zicht op gedrag en communicatie.
  </p>

  <p class="u-text-center">
    <a href="files/Dejonckheere_Florian_DISC.pdf" class="btn"><i class="fa fa-paperclip"></i> Reflectie</a>
  </p>
</article>
