<aside class="page-nav">
  <a href="#/italent#opdracht-i">Opdracht 1</a> &mdash;
  <a href="#/italent#anysurfer">AnySurfer</a> &mdash;
  <a href="#/italent#taaltraining">Taaltraining</a> &mdash;
  <a href="#/italent#opdracht-ii">Opdracht 2</a>
</aside>

<article id="opdracht-i">
  <h2>Opdracht 1: Wie ben ik?</h2>
  <h3>Myers-Briggs Type Indicator</h3>
  <p>
    Uitkomst: <strong>INTP</strong>
  </p>
  <p>
    Volgens het model van Jung zijn jouw voorkeuren: introversion, intuition, thinking en perceiving. Dat wil zeggen, je houdt van analyseren en nadenken en hebt een hang naar logica. Je stelt jezelf en anderen vaak vragen als: ‘Waarom?’, en: ‘Waarom niet?’ Je bent een snelle denker met een bedeesde en onopvallende aanpak. Anderen kunnen je cynisch of afstandelijk vinden. Je komt het meest tot je recht in activiteiten en beroepen waarin je je denkvermogen kunt toepassen. Beroepen die bij je passen zijn bijvoorbeeld: computerprogrammeur, chemicus, en onderzoeker. Je leert het makkelijkste: in je eentje en door veel te lezen en na te denken. Valkuilen: je kunt overkritisch worden op andere mensen, je verliezen in details, en je emoties teveel negeren.
  </p>
  <h4>Introversion</h4>
  <p>
    Dit type is zeker van toepassing op mijn persoonlijkheid. Ik ben van nature een introvert persoon, in het bijzonder tegenover personen die niet binnen een directe vrienden- en familiecirkel vallen. Ook in een grotere groep zou ik eerder verkiezen het stille element van de groep voor te stellen. Opvallend aan de beschrijving zijn de beroepen die bij me zouden passen.</p>
  <p>
    Ook professioneel verkies ik een taak alleen af te werken in tegenstelling tot gekoppelde methoden zoals <em>pair programming</em>. Dit wil natuurlijk niet zeggen dat groepswerk moeilijk of zelfs onmogelijk wordt &mdash; integendeel, een taak opdelen, delegeren en evalueren behoort zeker tot mijn vaardigheden.
  </p>
  <h4>Intuition</h4>
  <p>
    Ook intu&iuml;tie is een goed gedefinieerd resultaat van de test. Intu&iuml;tieve personen geven de voorkeur aan spontaan werken, in contrast met observatieve personen die planmatig te werk gaan. Dit is zeker te zien aan &eacute;&eacute;n van mijn grootste hobby's &mdash; programmeren &mdash; waar projecten en inspanningen komen en gaan op basis van enthousiasme. Hoewel de test aanwijst dat ik geen sterk georganiseerde geest zou hebben, is het tegendeel waar voor meeste structuren. Logisch redeneren (zie volgend puntje) vereist een zeker niveau van structuur, die zeker aanwezig is in mijn hobby-projecten.
  </p>
  <h4>Thinking</h4>
  <p>
    Om beslissingen te maken ben ik sterk geneigd om erover logisch te redeneren, zeker als het gaat om een belangrijke beslissing. Ook tegenstanders probeer ik te overtuigen met logisch en formeel bewijs. Daarnaast heb ik natuurlijk wel begrip voor de emoties en gevoelens van andere mensen, zeker buiten een professionele context.
  </p>
  <h4>Perceiving</h4>
  <p>
    Zoals eerder vermeld ben ik meer het spontane type, dat taken verwerkt wanneer ze zich aandienen eerder dan zich aan een vaste planning te houden. Hierdoor kan ik zeer flexibel en snel werken, maar dit uit zich af en toe wel eens in een onvermogen om voor een verlengde tijd geboeid te zijn door eenzelfde project of onderwerp. Concreet kan dit geminimaliseerd of verholpen worden door streaks van verschillende projecten te interlacen. Dit attribuut strookt dus volledig met de realiteit.
  </p>

  <h3>Enneagram</h3>
  <p>
    Uitkomst: <strong>Type 5w6 - de Onderzoeker (de Loyalist)</strong>
  </p>
  <p>
    Mensen van dit persoonlijkheidstype zijn in essentie bang dat ze niet genoeg innerlijke kracht hebben om het leven tegemoet te treden, en daarom zijn ze geneigd om terug te trekken, terug te gaan naar de veiligheid en zekerheid van hun geest, waar ze zich mentaal kunnen voorbereiden op hun opkomen in de wereld. Vijven voelen zich op hun gemak en thuis in de wereld van het denken. Ze zijn in het algemeen intelligent, belezen en bedachtzaam, en ze worden vaak experts op de gebieden die hun interesse hebben.
  </p>
  <h4>Reflectie</h4>
  <p>
    Hoewel de beschrijvingen van de verschillende types uitblinken in negativiteit, had ik verwacht dat Type 5 het best zou passen bij mijn persoonlijk heid, mede door de uitkomst van de MBTI-test. Als beschrijving wordt er ook vermeld dat vijven ook dikwijls excentriek zijn, ze voelen weinig behoefte om zich aan te passen aan de meningen en overtuigingen van de meerderheid. Dit komt best wel goed overeen met mijn externe ervaringen. Hoe de bronwebsite het ook draait of keert, ik kan met empirische zekerheid vaststellen dat er geen essenti&euml;le of existenti&euml;le vrees aan de basis van mijn persoonlijkheid ligt, maar dat mijn extrinsieke wereldvisie gevoed wordt door een inherent optimisme tegenover alle levende organismen en conceptuele entiteiten; het ligt niet in mijn natuur om assumpties en vooroordelen te maken op basis van het gepercipieerde.
  </p><p>
    Daarnaast past ook het Loyalist-type ook deels bij mij; zoals de website voorschrijft vertrouw ik niet gemakkelijk iets of iemand, maar in the long run draag ik loyaliteit en respect hoog in het vaandel.
  </p>
  <h3>Getuigenis</h3>
  <p>
    De getuigenis werd afgenomen van mijn moeder. Samengevat kan men de volgende positieve punten afleiden:
  </p>
  <ol>
    <li>Veel empathie en inlevingsvermogen, het hart op de juiste plaats voor je omgeving</li>
    <li>Je kan goed je plan trekken en geraakt niet gauw in paniek</li>
    <li>Je bent een werker en een doorzetter voor de dingen die je interesseren</li>
    <li>Je bent gemakkelijk in de omgang/je gaat niet gauw in conflict</li>
  </ol>
  <p>
    Het laatste puntje ervaar ik persoonlijk niet als overwegend positief; hoewel ik in de omgang probeer met iedereen rekening te houden &mdash; soms tot in mijn nadeel toe &mdash; leidt dit tot een afbreuk in assertiviteit. Als er bijvoorbeeld concreet afgesproken dient te worden [met een groep personen], ben ik eerder geneigd om mijn eigen afspraken te herschikken dan een ander tijdstip af te dwingen.
  </p>
  <p>
    Wat de negatieve aspecten betreft:
  </p>
  <ol>
    <li>Je zou al eens een klusje onafgewerkt laten liggen</li>
    <li>Je bent soms te stil, gesloten, ondoorgrondelijk</li>
    <li>Opruimen en schoonmaken is niet je grootste hobby</li>
  </ol>
  <p>
    Wat opruimen betreft laat ik soms wel een steek vallen, maar waarschijnlijk is dit een genetische variatie op mijn vader; we hebben allebei een eigen systeem of organisatie van onze leefomgeving, maar het mijne is gebaseerd op een positieve feedbackloop eerder dan een negatieve.
  </p>
  <h3>Algemene reflectie</h3>
  <p>
    Na het afnemen van de testen kan ik besluiten dat ik er niet wijzer op ben geworden. Zowel de uitkomst van de MBTI-test als van het enneagram zijn voorspelbaar; zeker omdat ik mijn persoonlijkheidstype al bepaald had enkele jaren geleden. Men kan argumenteren dat introversie een van mijn grootste valkuilen is, maar ook een van mijn sterktes: zelfstandigheid en kalmte zijn typerende attributen.
  </p>
  <p>
    Daarnaast mag ook gezegd worden dat een complexe entiteit zoals een menselijke persoonlijkheid zich moeilijk kan laten vatten of opdelen in negen, zestien of een ander beperkt aantal 'types'. Zowel de MBTI als de enneagram-testen zijn al decennia achterhaald.
  </p>
</article>

<article id="anysurfer">
  <h2>AnySurfer</h2>
  <p>
    AnySurfer wil de digitale wereld toegankelijker maken voor mensen met een handicap, zonder daarbij een vlotte bruikbaarheid voor iedereen uit het oog te verliezen. <sup><a href="http://anysurfer.be/nl/over-anysurfer/missie">[1]</a></sup>
  </p>
  <p>
    Op donderdag 10 maart werd er door Anysurfer een lezing gegeven over de toegankelijkheid op het web. Hierbij werd behandeld hoe de toegankelijkheid op het web er tegenwoordig voorstaat, en wat er kan veranderd en verbeterd worden. Aan de hand van een tiental case-studies werd toegelicht hoe mensen met een beperking het web ervaren, en waar de pijnpunten precies liggen. Tenslotte werd een alternatieve of betere aanpak voorgesteld.
  </p><p>
    Als men het heeft over toegankelijkheid op het web, doelt men meestal op toegang voor blinden. Maar zoals de lezing aantoonde zijn veel meer handicaps. Slechtziendheid, motorische handicaps, epilepsie en cognitieve stoornissen zijn slechts een voorbeeld van handicaps van mensen die baat hebben bij een toegankelijk web. Ook andere groepen in de samenleving die geen officieel statuut als gehandicapte hebben zoals ouderen, mobiele gebruikers en power users biedt een toegankelijke website voordelen.
  </p><p>
    In veel gevallen wordt bij het bouwen van een website geen rekening gehouden met toegankelijkheid, hoewel dit geamortiseerd slechts een kleine inspanning is. Het W3C definieerde een aantal standaarden en technieken zoals ARIA (Accessible Rich Internet Applications) waarmee een toegankelijk web &mdash; zowel websites als webapplicaties &mdash; een fluitje van een cent is. Bij het ontwerpen en implementeren van op maat gemaakte sites kan dit aspect wel eens vergeten worden, maar de brede adoptie van frameworks zoals Bootstrap leveren zowel compatibele platformen als best practices af aan de ontwikkelaar.
  </p><p>
    Tenslotte kan ik concluderen dat het brede probleem van toegankelijkheid een relatief ongekend probleem is, maar dat dit gemakkelijk te verhelpen valt in de ontwerpfase van websites en -applicaties. De conversie van huidige infrastructuur zal weliswaar iets moeizamer verlopen, maar vermits positieve feedback van authoritaire organisaties en kwaliteitslabels zoals AnySurfer ziet de toekomst er rooskleurig uit.
  </p><p>
    Persoonlijk was ik verbaasd hoe vlot &eacute;&eacute;n van de sprekers als blinde kon navigeren in het besturingssysteem en op het internet, ondanks het feit dat de meeste websites minder of niet aangepast zijn aan dit soort stijl van gebruik. Verder heeft deze lezing mijn ogen opengetrokken voor het toch wel minieme maar zeer hulpzame werk dat ontwerpen voor minder toegankelijken met zich meebrengt. Veel van de voorgestelde pijnpunten vloeien wel uit correct implementeren en industriestandaarden voort &mdash; bijvoorbeeld een correcte tabflow.
  </p>
</article>

<article id="taaltraining">
  <h2>Taaltraining</h2>
  <p>
    Op de I<sup>1</sup>Talent taaltraining werd de Nederlandse taalkennis van de student getoetst. Met behulp van een behoorlijk standaarddictee kwam ieder zijn zwakke plekken te weten. Vervolgens besteedde de lector uitgebreide aandacht aan pijnpunten die frequent voorkwamen. Tijdens dit alles konden de studenten vergelijken met hun collega's.
  </p><p>
    Een opmerkelijk feit was dat de grootste fouten lagen in het gebruik van de imperatief (wendt u zich), en niet in de vervoeging van Engelse werkwoorden &mdash; wat in het secundair de meest frequent voorkomende fout was. Bij deze sessie heb ik persoonlijk niet veel bijgeleerd. Dankzij een aangeboren taalgevoel ligt het niet in mijn natuur om snel spel- of zinsconstructiefouten te maken. Mijn twee broers hebben beiden een academisch diploma in de talen- en letterkunde, wat aanwijst dat taalgevoel zeker geen zeldzame eigenschap is in mijn familie. Daarnaast volgde ik in het secundair ook een gedeelde taal-richting (Latijn-Wetenschappen), en behoorde ik bij één van de beteren van de klas wat Nederlandse spelling betreft.
  </p><p>
    Niettemin merkte ik wel dat mijn taalgevoel minder scherp is afgesteld dan vroeger &mdash; hoogstwaarschijnlijk komt dit door het feit dat praktisch alle literatuur die ik gelezen heb de laatste jaren vakliteratuur is, en de facto is dit in het Engels geschreven. Ook verkies ik om verslagen en opdrachten in het Engels af te werken, onder meer om Nederlands doorspekt met Engelse termen te vermijden.
  </p>
</article>

<article id="opdracht-ii">
  <h2>Opdracht 2: Wat wil ik?</h2>
  <p class="u-text-center">
    <a href="files/opdracht-ii.pdf" class="btn"><i class="fa fa-download"></i> Download report</a>
    <a href="files/Curriculum Vitae Florian Dejonckheere.pdf" class="btn"><i class="fa fa-paperclip"></i> Curriculum Vitae</a>
    <a href="files/Curriculum Vitae Florian Dejonckheere Sky.pdf" class="btn"><i class="fa fa-paperclip"></i> Curriculum Vitae Sky</a>
  </p>
  <p>
    Opdracht 2: Wat kan ik? Wat wil ik?
  </p>
</article>
