<article>
  <h2>1 Who am I?</h2>
  <p class="u-text-center">
    <a href="files/opdracht-i.pdf" class="btn"><i class="fa fa-download"></i> Download report</a>
  </p>
  <p>
    Myers-Briggs Type Indicator and the Enneagram of Personality are commonly used models of human personality. They are introspective self-questionnaires designed to indicate psychological preferences in how people perceive the world and make decisions.<sup><a href="https://en.wikipedia.org/wiki/Myers-Briggs_Type_Indicator">[1]</a></sup>
  </p>
</article>

<article>
  <h2>AnySurfer</h2>
  <p class="u-text-center">
    <a href="files/reflectie-anysurfer.pdf" class="btn"><i class="fa fa-download"></i> Download report</a>
  </p>
  <p>
    AnySurfer wil de digitale wereld toegankelijker maken voor mensen met een handicap, zonder daarbij een vlotte bruikbaarheid voor iedereen uit het oog te verliezen. <sup><a href="http://anysurfer.be/nl/over-anysurfer/missie">[1]</a></sup>
  </p>
</article>

<article>
  <h2>Language Training</h2>
  <p class="u-text-center">
    <a href="files/reflectie-taaltraining.pdf" class="btn"><i class="fa fa-download"></i> Download report</a>
  </p>
  <p>
    Verslag van de I<sup>1</sup>Talent klassikale taaltraining.
  </p>
</article>

<article>
  <h2>2 What do I want?</h2>
  <p class="u-text-center">
    <a href="files/opdracht-ii.pdf" class="btn"><i class="fa fa-download"></i> Download report</a>
    <a href="files/Curriculum Vitae Florian Dejonckheere.pdf" class="btn"><i class="fa fa-paperclip"></i> Curriculum Vitae</a>
    <a href="files/Curriculum Vitae Florian Dejonckheere Sky.pdf" class="btn"><i class="fa fa-paperclip"></i> Curriculum Vitae Sky</a>
  </p>
  <p>
    Opdracht 2: Wat kan ik? Wat wil ik?
  </p>
</article>
