<aside class="page-nav">
  <a href="#/italent#opdracht-i">Opdracht 1</a> &mdash;
  <a href="#/italent#anysurfer">AnySurfer</a> &mdash;
  <a href="#/italent#taaltraining">Taaltraining</a> &mdash;
  <a href="#/italent#opdracht-ii">Opdracht 2</a> &mdash;
  <a href="#/italent#talentendag">Talentendag</a>
</aside>

<article id="opdracht-i">
  <h2>Opdracht 1: Wie ben ik?</h2>
  <h3>Myers-Briggs Type Indicator</h3>
  <p>
    Uitkomst: <strong>INTP</strong>
  </p>
  <p>
    Volgens het model van Jung zijn jouw voorkeuren: introversion, intuition, thinking en perceiving. Dat wil zeggen, je houdt van analyseren en nadenken en hebt een hang naar logica. Je stelt jezelf en anderen vaak vragen als: ‘Waarom?’, en: ‘Waarom niet?’ Je bent een snelle denker met een bedeesde en onopvallende aanpak. Anderen kunnen je cynisch of afstandelijk vinden. Je komt het meest tot je recht in activiteiten en beroepen waarin je je denkvermogen kunt toepassen. Beroepen die bij je passen zijn bijvoorbeeld: computerprogrammeur, chemicus, en onderzoeker. Je leert het makkelijkste: in je eentje en door veel te lezen en na te denken. Valkuilen: je kunt overkritisch worden op andere mensen, je verliezen in details, en je emoties teveel negeren.
  </p>
  <h4>Introversion</h4>
  <p>
    Dit type is zeker van toepassing op mijn persoonlijkheid. Ik ben van nature een introvert persoon, in het bijzonder tegenover personen die niet binnen een directe vrienden- en familiecirkel vallen. Ook in een grotere groep zou ik eerder verkiezen het stille element van de groep voor te stellen. Opvallend aan de beschrijving zijn de beroepen die bij me zouden passen.</p>
  <p>
    Ook professioneel verkies ik een taak alleen af te werken in tegenstelling tot gekoppelde methoden zoals <em>pair programming</em>. Dit wil natuurlijk niet zeggen dat groepswerk moeilijk of zelfs onmogelijk wordt &mdash; integendeel, een taak opdelen, delegeren en evalueren behoort zeker tot mijn vaardigheden.
  </p>
  <h4>Intuition</h4>
  <p>
    Ook intu&iuml;tie is een goed gedefinieerd resultaat van de test. Intu&iuml;tieve personen geven de voorkeur aan spontaan werken, in contrast met observatieve personen die planmatig te werk gaan. Dit is zeker te zien aan &eacute;&eacute;n van mijn grootste hobby's &mdash; programmeren &mdash; waar projecten en inspanningen komen en gaan op basis van enthousiasme. Hoewel de test aanwijst dat ik geen sterk georganiseerde geest zou hebben, is het tegendeel waar voor meeste structuren. Logisch redeneren (zie volgend puntje) vereist een zeker niveau van structuur, die zeker aanwezig is in mijn hobby-projecten.
  </p>
  <h4>Thinking</h4>
  <p>
    Om beslissingen te maken ben ik sterk geneigd om erover logisch te redeneren, zeker als het gaat om een belangrijke beslissing. Ook tegenstanders probeer ik te overtuigen met logisch en formeel bewijs. Daarnaast heb ik natuurlijk wel begrip voor de emoties en gevoelens van andere mensen, zeker buiten een professionele context.
  </p>
  <h4>Perceiving</h4>
  <p>
    Zoals eerder vermeld ben ik meer het spontane type, dat taken verwerkt wanneer ze zich aandienen eerder dan zich aan een vaste planning te houden. Hierdoor kan ik zeer flexibel en snel werken, maar dit uit zich af en toe wel eens in een onvermogen om voor een verlengde tijd geboeid te zijn door eenzelfde project of onderwerp. Concreet kan dit geminimaliseerd of verholpen worden door streaks van verschillende projecten te interlacen. Dit attribuut strookt dus volledig met de realiteit.
  </p>

  <h3>Enneagram</h3>
  <p>
    Uitkomst: <strong>Type 5w6 - de Onderzoeker (de Loyalist)</strong>
  </p>
  <p>
    Mensen van dit persoonlijkheidstype zijn in essentie bang dat ze niet genoeg innerlijke kracht hebben om het leven tegemoet te treden, en daarom zijn ze geneigd om terug te trekken, terug te gaan naar de veiligheid en zekerheid van hun geest, waar ze zich mentaal kunnen voorbereiden op hun opkomen in de wereld. Vijven voelen zich op hun gemak en thuis in de wereld van het denken. Ze zijn in het algemeen intelligent, belezen en bedachtzaam, en ze worden vaak experts op de gebieden die hun interesse hebben.
  </p>
  <h4>Reflectie</h4>
  <p>
    Hoewel de beschrijvingen van de verschillende types uitblinken in negativiteit, had ik verwacht dat Type 5 het best zou passen bij mijn persoonlijk heid, mede door de uitkomst van de MBTI-test. Als beschrijving wordt er ook vermeld dat vijven ook dikwijls excentriek zijn, ze voelen weinig behoefte om zich aan te passen aan de meningen en overtuigingen van de meerderheid. Dit komt best wel goed overeen met mijn externe ervaringen. Hoe de bronwebsite het ook draait of keert, ik kan met empirische zekerheid vaststellen dat er geen essenti&euml;le of existenti&euml;le vrees aan de basis van mijn persoonlijkheid ligt, maar dat mijn extrinsieke wereldvisie gevoed wordt door een inherent optimisme tegenover alle levende organismen en conceptuele entiteiten; het ligt niet in mijn natuur om assumpties en vooroordelen te maken op basis van het gepercipieerde.
  </p><p>
    Daarnaast past ook het Loyalist-type ook deels bij mij; zoals de website voorschrijft vertrouw ik niet gemakkelijk iets of iemand, maar in the long run draag ik loyaliteit en respect hoog in het vaandel.
  </p>
  <h3>Getuigenis</h3>
  <p>
    De getuigenis werd afgenomen van mijn moeder. Samengevat kan men de volgende positieve punten afleiden:
  </p>
  <ol>
    <li>Veel empathie en inlevingsvermogen, het hart op de juiste plaats voor je omgeving</li>
    <li>Je kan goed je plan trekken en geraakt niet gauw in paniek</li>
    <li>Je bent een werker en een doorzetter voor de dingen die je interesseren</li>
    <li>Je bent gemakkelijk in de omgang/je gaat niet gauw in conflict</li>
  </ol>
  <p>
    Het laatste puntje ervaar ik persoonlijk niet als overwegend positief; hoewel ik in de omgang probeer met iedereen rekening te houden &mdash; soms tot in mijn nadeel toe &mdash; leidt dit tot een afbreuk in assertiviteit. Als er bijvoorbeeld concreet afgesproken dient te worden [met een groep personen], ben ik eerder geneigd om mijn eigen afspraken te herschikken dan een ander tijdstip af te dwingen.
  </p>
  <p>
    Wat de negatieve aspecten betreft:
  </p>
  <ol>
    <li>Je zou al eens een klusje onafgewerkt laten liggen</li>
    <li>Je bent soms te stil, gesloten, ondoorgrondelijk</li>
    <li>Opruimen en schoonmaken is niet je grootste hobby</li>
  </ol>
  <p>
    Wat opruimen betreft laat ik soms wel een steek vallen, maar waarschijnlijk is dit een genetische variatie op mijn vader; we hebben allebei een eigen systeem of organisatie van onze leefomgeving, maar het mijne is gebaseerd op een positieve feedbackloop eerder dan een negatieve.
  </p>
  <h3>Algemene reflectie</h3>
  <p>
    Na het afnemen van de testen kan ik besluiten dat ik er niet wijzer op ben geworden. Zowel de uitkomst van de MBTI-test als van het enneagram zijn voorspelbaar; zeker omdat ik mijn persoonlijkheidstype al bepaald had enkele jaren geleden. Men kan argumenteren dat introversie een van mijn grootste valkuilen is, maar ook een van mijn sterktes: zelfstandigheid en kalmte zijn typerende attributen.
  </p>
  <p>
    Daarnaast mag ook gezegd worden dat een complexe entiteit zoals een menselijke persoonlijkheid zich moeilijk kan laten vatten of opdelen in negen, zestien of een ander beperkt aantal 'types'. Zowel de MBTI als de enneagram-testen zijn al decennia achterhaald.
  </p>
</article>

<article id="anysurfer">
  <h2>AnySurfer</h2>
  <p>
    AnySurfer wil de digitale wereld toegankelijker maken voor mensen met een handicap, zonder daarbij een vlotte bruikbaarheid voor iedereen uit het oog te verliezen. <sup><a href="http://anysurfer.be/nl/over-anysurfer/missie">[1]</a></sup>
  </p>
  <p>
    Op donderdag 10 maart werd er door Anysurfer een lezing gegeven over de toegankelijkheid op het web. Hierbij werd behandeld hoe de toegankelijkheid op het web er tegenwoordig voorstaat, en wat er kan veranderd en verbeterd worden. Aan de hand van een tiental case-studies werd toegelicht hoe mensen met een beperking het web ervaren, en waar de pijnpunten precies liggen. Tenslotte werd een alternatieve of betere aanpak voorgesteld.
  </p><p>
    Als men het heeft over toegankelijkheid op het web, doelt men meestal op toegang voor blinden. Maar zoals de lezing aantoonde zijn veel meer handicaps. Slechtziendheid, motorische handicaps, epilepsie en cognitieve stoornissen zijn slechts een voorbeeld van handicaps van mensen die baat hebben bij een toegankelijk web. Ook andere groepen in de samenleving die geen officieel statuut als gehandicapte hebben zoals ouderen, mobiele gebruikers en power users biedt een toegankelijke website voordelen.
  </p><p>
    In veel gevallen wordt bij het bouwen van een website geen rekening gehouden met toegankelijkheid, hoewel dit geamortiseerd slechts een kleine inspanning is. Het W3C definieerde een aantal standaarden en technieken zoals ARIA (Accessible Rich Internet Applications) waarmee een toegankelijk web &mdash; zowel websites als webapplicaties &mdash; een fluitje van een cent is. Bij het ontwerpen en implementeren van op maat gemaakte sites kan dit aspect wel eens vergeten worden, maar de brede adoptie van frameworks zoals Bootstrap leveren zowel compatibele platformen als best practices af aan de ontwikkelaar.
  </p><p>
    Tenslotte kan ik concluderen dat het brede probleem van toegankelijkheid een relatief ongekend probleem is, maar dat dit gemakkelijk te verhelpen valt in de ontwerpfase van websites en -applicaties. De conversie van huidige infrastructuur zal weliswaar iets moeizamer verlopen, maar vermits positieve feedback van authoritaire organisaties en kwaliteitslabels zoals AnySurfer ziet de toekomst er rooskleurig uit.
  </p><p>
    Persoonlijk was ik verbaasd hoe vlot &eacute;&eacute;n van de sprekers als blinde kon navigeren in het besturingssysteem en op het internet, ondanks het feit dat de meeste websites minder of niet aangepast zijn aan dit soort stijl van gebruik. Verder heeft deze lezing mijn ogen opengetrokken voor het toch wel minieme maar zeer hulpzame werk dat ontwerpen voor minder toegankelijken met zich meebrengt. Veel van de voorgestelde pijnpunten vloeien wel uit correct implementeren en industriestandaarden voort &mdash; bijvoorbeeld een correcte tabflow.
  </p>
</article>

<article id="taaltraining">
  <h2>Taaltraining</h2>
  <p>
    Op de I<sup>1</sup>Talent taaltraining werd de Nederlandse taalkennis van de student getoetst. Met behulp van een behoorlijk standaarddictee kwam ieder zijn zwakke plekken te weten. Vervolgens besteedde de lector uitgebreide aandacht aan pijnpunten die frequent voorkwamen. Tijdens dit alles konden de studenten vergelijken met hun collega's.
  </p><p>
    Een opmerkelijk feit was dat de grootste fouten lagen in het gebruik van de imperatief (wendt u zich), en niet in de vervoeging van Engelse werkwoorden &mdash; wat in het secundair de meest frequent voorkomende fout was. Bij deze sessie heb ik persoonlijk niet veel bijgeleerd. Dankzij een aangeboren taalgevoel ligt het niet in mijn natuur om snel spel- of zinsconstructiefouten te maken. Mijn twee broers hebben beiden een academisch diploma in de talen- en letterkunde, wat aanwijst dat taalgevoel zeker geen zeldzame eigenschap is in mijn familie. Daarnaast volgde ik in het secundair ook een gedeelde taal-richting (Latijn-Wetenschappen), en behoorde ik bij één van de beteren van de klas wat Nederlandse spelling betreft.
  </p><p>
    Niettemin merkte ik wel dat mijn taalgevoel minder scherp is afgesteld dan vroeger &mdash; hoogstwaarschijnlijk komt dit door het feit dat praktisch alle literatuur die ik gelezen heb de laatste jaren vakliteratuur is, en de facto is dit in het Engels geschreven. Ook verkies ik om verslagen en opdrachten in het Engels af te werken, onder meer om Nederlands doorspekt met Engelse termen te vermijden.
  </p>
</article>

<article id="opdracht-ii">
  <h2>Opdracht 2: Wat wil ik?</h2>
  <p class="u-text-center">
    <a href="files/Curriculum Vitae Florian Dejonckheere.pdf" class="btn"><i class="fa fa-paperclip"></i> Curriculum Vitae</a>
    <a href="files/Curriculum Vitae Florian Dejonckheere Sky.pdf" class="btn"><i class="fa fa-paperclip"></i> Curriculum Vitae Sky</a>
  </p>
  <h3>Vacature 1: Software-develop web-app</h3>
  <p class="u-text-center image-border">
    <img src="files/vacature-1.png" alt="Vacature 1" />
  </p>
  <h3>Vacature 2: IT-medewerker</h3>
  <p class="u-text-center image-border">
    <img src="files/vacature-2.png" alt="Vacature 2" />
  </p>
  <h3>Vacature 3: Developer</h3>
  <p class="u-text-center image-border">
    <img src="files/vacature-3.png" alt="Vacature 3" />
  </p>
  <h4>Kennis</h4>
  <ul>
    <li>Linux/Unix: <strong>8/10</strong> (vacature 1)</li>
    <li>iOS: <strong>0/10</strong> (vacature 1)</li>
    <li>HTML, CSS: <strong>7/10</strong> (vacature 1, 2)</li>
    <li>SQL/MySQL: <strong>8/10</strong> (vacature 1, 2)</li>
    <li>DA en DBA-management: <strong>7/10</strong> (vacature 2)</li>
    <li>JavaScript: <strong>6/10</strong> (vacature 1, 2, 3)</li>
    <li>Ajax, jQuery: <strong>4/10</strong> (vacature 1)</li>
    <li>Ruby/Ruby on Rails: <strong>8/10</strong> (vacature 1, 3)</li>

    <li>Visual Basic: <strong>1/10</strong> (vacature 2)</li>

    <li>Java: <strong>8/10</strong> (vacature 3)</li>
    <li>Test-Driven Development: <strong>4/10</strong> (vacature 3)</li>
    <li>Object Oriented Development en design patterns: <strong>7/10</strong> (vacature 3)</li>
  </ul>
  <p>
    Al jarenlang maak ik gebruik van het alternatieve besturingssysteem Linux. Als distributie gebruik ik <a href="https://www.archlinux.org">Arch Linux</a>, een distributie die ook wel eens omschreven wordt als <em>DIY Linux</em>. Hierdoor ben ik van mening dat mijn kennis over Linux zeer uitgebreid is.

  </p>
  <p>
    Programmeren op iOS is mij vreemd, omdat ik nog nooit een mobiel Apple-product in mijn bezit gehad heb. Ontwikkeling op iOS impliceert ook het aanleren van een nieuwe programmeertaal.
  </p>
  <p>
    Ook HTML en CSS gebruik ik al sinds mijn kindertijd, mede dankzij het feit dat HTML een lage instapdrempel heeft. Mijn eerste handgeschreven website dateert van rond ca. 2008, maar de oudste website die ik nog heb slechts <a href="https://github.com/floriandejonckheere/minimalist-html">van 2012</a>. Het resultaat van het vak <em>Web Applicaties I</em> staaft deze conclusie.<br>
    Ook JavaScript heb ik al jaren geleden aangeleerd. Aangezien mijn stiel meer in de back-end ligt, heb ik een redelijke comprehensie van ECMAScript (via Node.js), maar front-end frameworks zoals jQuery zijn mij meer vreemd, zeker omdat deze relatief recent zijn geschreven.
  </p>
  <p class="image-border">
    <img src="files/wapps-i.png" alt="Web Applicaties I">
  </p>
  <p class="image-border">
    <img src="files/itech.png" alt="Internet Technologie">
  </p>
  <p>
    MySQL &mdash; en algemener SQL &mdash; is ook een typerende vaardigheid van praktisch eender welke programmeur. Het volstaat om te verwijzen naar de talloze <a href="https://github.com/floriandejonckheere">uitgevoerde projecten</a> omtrent databanken en het resultaat van het eerste-semestervak <em>Databanken I</em>. In de open-source community wordt meer en meer PostgreSQL gebruikt als de facto databank, maar deze DBMS verschilt slechts in catalogusoperaties en subtiele syntax-aanpassingen.<br>
    Daarnaast omvat DA en DBA-administratie het conceptueel en logisch ontwerpen, implementeren en onderhouden van databanken. Ook daarvoor verwijs ik naar mijn <a href="https://github.com/floriandejonckheere/headbanger">projecten</a>, die gebouwd zijn op verschillende datamodellen en -systemen.
  </p>
  <p>
    Deze vacatures zijn vooral geselecteerd op het trefwoord <em>Ruby on Rails</em>. Dit relatief jonge framework is mij aangeleerd geweest op de universiteit, evenals impliciet de taal Ruby. Dankzij de snelle ontwikkeling en naturalistische semantiek is dit dan ook de taal bij voorkeur geworden voor zowel webapplicaties als scripting. Op <a href="https://github.com/floriandejonckheere">GitHub</a> zijn er talloze projecten te zien die gebouwd zijn aan de hand van Ruby en Ruby on Rails.
  </p>
  <p>
    Ook mijn comprehensie van Java is uitstekend, gezien dit de taal is waarmee op academisch en professioneel niveau programmeren wordt aangeleerd. Gezien de <a href="https://github.com/floriandejonckheere/project-vdb">vele projecten</a><a href="https://github.com/floriandejonckheere/itech-practicum2"></a> en de behaalde resultaten voor het vak <em>Software-Ontwikkeling II</em> aan de UGent heb ik ook een goede greep op OOP en gedetailleerde design patterns. Dit omvat ook TDD, hoewel dit niet mijn meest geliefde ontwikkelmethode is.
  </p>
  <p class="image-border">
    <img src="files/soii.png" alt="Software-Ontwikkeling II">
  </p>
  <p>
Visual Basic is net als C# en .NET slechts een notie, aangezien mijn primaire besturingssysteem niet Windows is.
  </p>
  <h4>Vaardigheden</h4>
  <ul>
    <li>Zelfstandig: <strong>9/10</strong> (vacature 1, 2)
    <li>Verantwoordelijk: <strong>8/10</strong> (vacature 2)
    <li>Volgzaam: <strong>6/10</strong> (vacature 1)
    <li>Werken in team: <strong>6/10</strong> (vacature 2)
    <li>Plannen en organiseren: <strong>5/10</strong> (vacature 1)
    <li>Nauwkeurig: <strong>5/10</strong> (vacature 1)
    <li>Bereid zijn tot leren: <strong>8/10</strong> (vacature 1)
    <li>Flexibel: <strong>8/10</strong> (vacature 1, 3)
    <li>Resultaatgericht: <strong>6/10</strong> (vacature 1, 2)
    <li>Creatief: <strong>3/10</strong> (vacature 1)

    <li>Analytisch vermogen: <strong>9/10</strong> (vacature 2)

    <li>Extreme Programming en Agile Development: <strong>0/10</strong> (vacature 3)
  </ul>
  <p>
    Gezien mijn intussen jarenlange ervaring met het ontwerpen en schrijven van verscheidene projecten vari&euml;rend in grootte, kan ik besluiten dat zelfstandig werken een primair kenmerk is. Het ligt ook in mijn natuur om zelfstandig te handelen (zie ook <a href="#/italent#opdracht-i">opdracht 1</a>: Myers-Briggs Type Indicator). Ik heb ook veel zin voor verantwoordelijkheid; als een (groeps-)opdracht binnen mijn interessedomein valt, neem ik graag het initiatief. De scores voor <em>volgzaam</em> en <em>werken in team</em> kunnen gestaafd worden met de volgende peer assessment in het vak <em>Projecten I</em>:
  </p>

  <blockquote>
    Jasper, Florian en Brent zijn alle drie al behoorlijk vaardig in programmeren en zijn gemotiveerd om dit project tot een goed einde te brengen. Ze geven allemaal hun inbreng aan de opdracht en werken vlijtig door tijdens de wekelijkse samenkomsten. Misschien kan er nog iets betergewerkt en gecommuniceerd worden buiten de lesuren die voorzien zijn om aan het project te werken, zodat het wat duidelijker is wat er nog moet gebeuren tegen de volgende week en wie nu precies welke taak zal uitvoeren.
    <footer>&mdash; Mathias Meyfroidt, peer assessment Projecten-Workshops I</footer>
  </blockquote>

  <p>
    Een minder sterk punt is plannen en organiseren. Vermits ik vaak inzet op zelfstandigheid, heb ik niet frequent de neiging om een gedetailleerde planning op te stellen. Ook bij mijn examenplanning is dit te merken. Dit aspect is ook gerelateerd met nauwkeurigheid, waar ik ook wel eens een steekje durf laten vallen.
  </p>
  <p>
    Zoals eerder vermeld in opdracht 1, is mijn karakter eerder <em>perceiving</em> dan <em>judging</em>, waardoor ik zeer flexibel ben &mdash; zeker wat een professionele context betreft. Ook mijn sterk analytisch vermogen kan enerzijds afgeleid worden door het enneagramtype (<em>de onderzoeker</em>), en anderzijds door de studierichting die een zeker niveau eist.
  </p>
  <p>
    Ik zie mezelf niet als een creatief persoon, waarmee ik <em>creatief</em> zie als een artistieke uiting van karakter. Mijn denkwijze is meer beredeneerd en meer gebaseerd op randactiviteiten en infrastructuur dan effectieve content zelf &mdash; ik zou bijvoorbeeld beter zijn in het ontwikkelen en onderhouden van een blog, dan het schrijven van content voor die blog zelf.
  </p>
  <p>
    Het spreekt voor zich dat ik bijna geen tot geen ervaring heb met professioneel gebruikte methoden zoals agile development en extreme programming.
  </p>
  <h3>Keuze vacature</h3>
  <p>
    Mijn keuze gaat uit naar de vacature van Sky (vacature 3), aangezien ik graag een carri\&egrave;re had uitgebouwd in webapplicaties, specifiek in <em>Ruby on Rails</em>. Aangezien Sky een firma is in de entertainmentsector onderstreept dit de hoogst dynamische natuur van het ontwikkelingsproces en de applicaties. Technieken zoals agile development zorgen er ook voor dat men flexibel kan zijn in planning, iets waar ik mij wel mee kan verzoenen.
  </p>
  <h3>Curriculum Vitae</h3>
  <p>
    In bijlage het generiek curriculum vitae dat ik de laatste jaren gebruikt heb. Per vacature wordt dit licht aangepast. De volgorde van de <em>skills</em>-sectie wordt gewijzigd om relevante vaardigheden te benadrukken, en eventueel worden er toegevoegd of verwijderd (bijvoorbeeld het item <em>hardware</em> wordt uitgebreid bij een vacature die gericht is op installeren van hardware). Ook de sectie <em>experience</em> wordt op maat gesneden, waar projecten en ervaringen komen te staan die relevant zijn voor de vacature.
  </p>
</article>

<article id="talententdag">
  <h2>Talentendag</h2>
  <p>
  </p>
  <p class="u-text-center">
    <a href="files/Verslag_overleg_1_I1talent.docx" class="btn"><i class="fa fa-paperclip"></i> Verslag overleg 1</a>
    <a href="files/2e_Overleg_ITalent.docx" class="btn"><i class="fa fa-paperclip"></i> Verslag overleg 2</a>
    <a href="files/Bijeenkomst2mei.docx" class="btn"><i class="fa fa-paperclip"></i> Verslag overleg 3</a>
  </p>
  <p class="u-text-center">
    <a href="files/LogboekITalent.docx" class="btn"><i class="fa fa-paperclip"></i> Logboek</a>
    <a href="files/TaakverdelingiTalentgroep11.docx" class="btn"><i class="fa fa-paperclip"></i> Taakverdeling</a>
    <a href="files/Opnamedag_Italent.docx" class="btn"><i class="fa fa-paperclip"></i> Verslag opnamedag</a>
  </p>
</article>
