<div class="portfolio">
  <div class="small block">
    <div>
      <div class="image">
        <img src="%%BASE_PATH%%/assets/images/tce-webgraph.png" alt="tce-webgraph" />
      </div>
      <div class="overlay">
        <div class="title">
          TCE WebGraph
        </div>
        <div class="description">
          Interactive visualization of a directed acyclic graph containing finanicial information
        </div>
        <div class="buttons">
          <a href="http://www.telecomcostexpert.com" target="_blank"><i class="fa fa-globe"></i> Employer</a>
        </div>
      </div>
    </div>
  </div>
  <div class="small block">
    <div>
      <div class="image">
        <img src="%%BASE_PATH%%/assets/images/ruby-ldapserver.png" alt="ruby-ldapserver" />
      </div>
      <div class="overlay">
        <div class="title">
          <a href="https://github.com/floriandejonckheere/ruby-ldapserver" target="_blank">ruby-ldapserver</a>
        </div>
        <div class="description">
          pure Ruby implementation of an RFC 4510 Lightweight Directory Access Protocol (LDAP) server
        </div>
        <div class="buttons">
          <a href="https://github.com/floriandejonckheere/ruby-ldapserver" target="_blank"><i class="fa fa-github"></i> GitHub</a>
        </div>
      </div>
    </div>
  </div>
  <div class="small block">
    <div>
      <div class="image">
        <img src="%%BASE_PATH%%/assets/images/headbanger.png" alt="Headbanger" />
      </div>
      <div class="overlay">
        <div class="title">
          <a href="https://github.com/floriandejonckheere/headbanger" target="_blank">Headbanger</a>
        </div>
        <div class="description">
          music recommendation and discovery platform. Built upon graph databases, it uses hybrid collaborative and content-based filtering to determine novel artists and albums based on the user's previous ratings
        </div>
        <div class="buttons">
          <a href="https://github.com/floriandejonckheere/headbanger" target="_blank"><i class="fa fa-github"></i> GitHub</a>
        </div>
      </div>
    </div>
  </div>
  <div class="small block">
    <div>
      <div class="image">
        <img src="%%BASE_PATH%%/assets/images/powerampd.png" alt="PoweraMPD" />
      </div>
      <div class="overlay">
        <div class="title">
          <a href="https://github.com/floriandejonckheere/powerampd" target="_blank">PoweraMPD</a>
        </div>
        <div class="description">
          a Music Player Daemon (MPD) Protocol-compatible interface layer to the popular Android media player Poweramp
        </div>
        <div class="buttons">
          <a href="https://github.com/floriandejonckheere/powerampd" target="_blank"><i class="fa fa-github"></i> GitHub</a>
        </div>
      </div>
    </div>
  </div>
  <div class="small block">
    <div>
      <div class="image slideshow">
        <img src="%%BASE_PATH%%/assets/images/itech1-001.png" alt="Event Management" />
        <img src="%%BASE_PATH%%/assets/images/itech1-002.png" alt="Event Management" />
      </div>
      <div class="overlay">
        <div class="title">
          <a href="https://github.com/floriandejonckheere/itech-practicum1" target="_blank">Event Management</a>
        </div>
        <div class="description">
          RESTful Event Management System written in Ruby on Rails and Bootstrap 3
        </div>
        <div class="buttons">
          <a href="https://github.com/floriandejonckheere/itech-practicum1" target="_blank"><i class="fa fa-github"></i> GitHub</a>
        </div>
      </div>
    </div>
  </div>
  <div class="small block">
    <div>
      <div class="image">
        <img src="%%BASE_PATH%%/assets/images/minimalist-cover.png" alt="Minimalist Cover" />
      </div>
      <div class="overlay">
        <div class="title">
          <a href="https://florian.dejonckhee.re" target="_blank">minimalist cover</a>
        </div>
        <div class="description">
          minimalistic cover page evolved into personal website, designed and written by hand in Angular and SASS
        </div>
        <div class="buttons">
          <a href="https://github.com/floriandejonckheere/minimalist-cover" target="_blank"><i class="fa fa-github"></i> GitHub</a>
          <a href="https://florian.dejonckhee.re" target="_blank"><i class="fa fa-globe"></i> Online</a>
        </div>
      </div>
    </div>
  </div>
  <div class="small block">
    <div>
      <div class="image slideshow">
        <img src="%%BASE_PATH%%/assets/images/thalariond-001.png" alt="thalariond" />
        <img src="%%BASE_PATH%%/assets/images/thalariond-002.png" alt="thalariond" />
      </div>
      <div class="overlay">
        <div class="title">
          <a href="https://www.thalarion.be" target="_blank">thalariond</a>
        </div>
        <div class="description">
          custom user management system for centralizing email and other services, written in pure Ruby and Ruby on Rails
        </div>
        <div class="buttons">
          <a href="https://github.com/floriandejonckheere/thalariond" target="_blank"><i class="fa fa-github"></i> GitHub</a>
          <a href="https://www.thalarion.be" target="_blank"><i class="fa fa-globe"></i> Online</a>
        </div>
      </div>
    </div>
  </div>
  <div class="large block">
    <div>
      <div class="image slideshow">
        <img src="%%BASE_PATH%%/assets/images/skeleton-ui-001.png" alt="Skeleton UI" />
        <img src="%%BASE_PATH%%/assets/images/skeleton-ui-002.png" alt="Skeleton UI" />
      </div>
      <div class="overlay">
        <div class="title">
          <a href="https://github.com/floriandejonckheere/skeleton-ui" target="_blank">Skeleton UI</a>
        </div>
        <div class="description">
          lean and mean lightweight LESS UI framework based on <a href="http://getskeleton.com/">Skeleton</a>
        </div>
        <div class="buttons">
          <a href="https://github.com/floriandejonckheere/skeleton-ui" target="_blank"><i class="fa fa-github"></i> GitHub</a>
          <a href="https://florian.dejonckhee.re/skeleton-ui" target="_blank"><i class="fa fa-globe"></i> Demo</a>
        </div>
      </div>
    </div>
  </div>
  <div class="small block">
    <div>
      <div class="image">
        <img src="%%BASE_PATH%%/assets/images/itech2.png" alt="Event Management II" />
      </div>
      <div class="overlay">
        <div class="title">
          <a href="https://github.com/floriandejonckheere/itech-practicum2" target="_blank">Event Management II</a>
        </div>
        <div class="description">
          Android ad<em>app</em>tation of the RESTful event management system
        </div>
        <div class="buttons">
          <a href="https://github.com/floriandejonckheere/itech-practicum2" target="_blank"><i class="fa fa-github"></i> GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
