article {
  @include p-x-sm;
  @include p-y-lg;

  line-height: 1.25 * $text-unit;

  h2 {
    margin: $spacing-xl 0;
  }

  @include device(tablet) {
    margin: auto;
  }
}

p {
  text-align: justify;

  margin-bottom: $spacing-md;

  padding-left: $spacing-sm;
}

.image-border {
  @include p-sm;

  border: 1px solid $color-secondary-text;
  border-radius: $border-radius;

  img {
    width: 100%;
  }
}
