article {
  @include p-y-lg;

  margin: $spacing-xl auto;

  width: 60%;

  line-height: 1.25 * $text-unit;

  p {
    text-align: justify;

    margin-bottom: $spacing-md;
    padding-left: $spacing-sm;

    &:first-of-type {
      margin-top: $spacing-xxl;
    }
  }

  &:not(:last-child) { border-bottom: 1px solid $color-tertiary-text; }
}

.image-border {
  @include p-sm;

  border: 1px solid $color-secondary-text;
  border-radius: $border-radius;

  img { width: 100%; }
}

img {
  &.circle { border-radius: 50%; }

  &.border {
    @include m-lg;

    border: 5px solid white;
    box-shadow: 0 0 5px #CCC;
  }

  &.float-left { float: left; }
  &.float-right { float: right; }
}
