footer {
  @include link-color($color-secondary-text);
  @include p-y-xl;

position: relative;

  width: 100%;
  text-align: center;

  color: $color-secondary-text;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
