header {
  @include transition;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-cover;
  color: white;

  min-height: 200px;
  height: 100vh;

  h1 {
    @include p-x-md;

    @include link-color(white, none);

    margin-top: auto;

    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: $text-xxl;
    text-transform: uppercase;

    a {
      outline: none;
    }
  }

  h2 {
    color: darken(white, 10%);

    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: $text-lg;
  }

  nav {
    @include transition;

    margin-top: auto;
    margin-bottom: 30vh;
  }


  &.cover {
    height: 55vh;

    nav {
      margin-bottom: 0;
    }
  }
}
