header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: $color-cover;
  color: white;

  h1 {
    @include p-y-lg;
    @include p-x-md;
    padding-top: 10 * $spacing-unit;
    padding-bottom: 10 * $spacing-unit;

    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: $text-xxl;
    text-transform: uppercase;
  }
}
