header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-cover;
  color: white;

  height: 400px;

  &.cover-header {
    height: 100vh;

    nav {
      margin-top: 0;
      margin-bottom: auto;

      padding-top: 7.5 * $spacing-unit;
    }
  }

  h1 {
    @include link-color(white, none);

    margin-top: auto;

    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: $text-xxl;
    text-transform: uppercase;
  }

  nav {
    margin-top: auto;
  }
}
