nav ul {
  list-style: none;

  margin: 0;
  padding: 0;

  left: 0;
  top: 0;

  background-color: $color-tertiary;

  width: 100%;

  z-index: 1;

  li {
    @include transition;
  }

  li > a {
    @include p-lg;

    display: block;

    background-color: $color-tertiary;
    color: $color-tertiary-text;
    outline: none;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-decoration: none;
  }
}


/** Menu button **/
#menu-button {
  width: 64px;
  height: 64px;
  line-height: 64px;

  text-align: center;
  vertical-align: center;

  background: $color-cover;
  opacity: .8;
  color: $color-tertiary-text;

  cursor: pointer;

  position: absolute;
  left: 0;
  top: 0;

  z-index: 2;

  transition: left .3s ease-in;

  &:hover {
    background-color: lighten($color-cover, 10%);
  }
}

input[type="checkbox"]#menu-toggle {
  display: none;

  &:checked {
    background-color: $color-cover;
    & ~ ul { left: 0; }
    & ~ #menu-button {
      background-color: $color-tertiary;

      &:hover {
        background-color: lighten($color-tertiary, 10%);
      }
      left: calc(100% - 64px);
    }
  }
}

@include device(handheld) {
  nav ul {
    position: absolute;
    left: calc(-100% - 62px);
    bottom: 0;

    transition: all .3s ease-in;

    li a:hover {
      background-color: lighten($color-cover, 10%);
    }
  }
}

@include device(tablet) {
  nav ul {
    /* reset properties */
    position: relative;
    left: 0;
    background: none;

    transition: none;

    li {
      /* dirty little hack */
      margin-right: -4px;

      display: inline-block;

      @include link-color(white, none);

      border-top: 2px solid transparent;

      a,
      a:active,
      a:visited,
      a:hover {
        @include p-lg;

        background: none;

        border-top: 1px solid white;
        text-transform: uppercase;
      }

      &.active,
      &:hover {
        border-top: 2px solid white;
      }
    }
  }
  /* don't display sliding menu button on desktops */
  #menu-button { display: none; }
}
