/* block width */
$block-width: 350px;

/* padding between blocks */
$block-space-between: 20px;

/* hover effects */
$scale-factor: .9;
$blur-radius: 2px;

.portfolio {
  margin-top: $spacing-lg;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-content: space-between;
  align-items: space-between;
  justify-content: space-between;

  flex-flow: column wrap;

  /* two blocks and padding */
  width: (2 * $block-width) + $block-space-between;
  /* four blocks and padding */
  height: (5 * $block-width) + (4 * $block-space-between);

  .block {
    border: 1px solid $color-tertiary-text;
    position: relative;

    border-radius: $border-radius;
    overflow: hidden;

    width: 350px;

    &.small { height: 350px; }
    &.large { height: 720px; }

    .image {
      position: absolute;

      /* center within fader */
      left: -25px;
      top: -25px;

      img {
        @include transition;

        @include scale($scale-factor);

        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }

      &.slideshow img {
        @include border-box-sizing;

        position: absolute;
        left: 0;
        top: 0;

        opacity: 0;
        &:first-child { opacity: 1; }

        /* TODO: mixin for slideshow with n images */
        &:nth-child(1) { animation: xfade 8s 0s infinite; }
        &:nth-child(2) { animation: xfade 8s 4s infinite; }

        @keyframes xfade {
         0%   { opacity: 0; }
         10%  { opacity: 1; }
         50%  { opacity: 1; }
         60%  { opacity: 0; }
        }
      }
    }

    .overlay {
      @include transition;

      position: absolute;

      width: 100%;
      height: 100%;

      @include link-color(white);
      color: white;

      opacity: 0;
      background-color: rgba(0, 0, 0, .5);

      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        @include link-color(white, none);
        @include p-y-md;

        width: 100%;
        text-align: center;

        font-family: 'Oswald', sans-serif;
        font-size: $text-xl;
      }

      .description {
        width: 80%;
        text-align: justify;

        margin-left: auto;
        margin-right: auto;
      }

      .buttons {
        @include link-color(white, none);

        position: absolute;
        bottom: 0;

        width: 100%;

        display: flex;
        justify-content: space-between;

        a {
          @include p-lg;

          outline: none;
        }
      }
    }


    &:hover {
      .overlay { opacity: 1; }

      .image img {
        @include scale(1);

        -webkit-filter: grayscale(100%) blur($blur-radius);
        filter: grayscale(100%) blur($blur-radius);
      }
    }
  }
}
