@mixin p-sm { padding: $spacing-sm; }
@mixin p-md { padding: $spacing-md; }
@mixin p-lg { padding: $spacing-lg; }
@mixin p-xl { padding: $spacing-xl; }

@mixin p-x-sm { padding-left: $spacing-sm; padding-right: $spacing-sm; }
@mixin p-x-md { padding-left: $spacing-md; padding-right: $spacing-md; }
@mixin p-x-lg { padding-left: $spacing-lg; padding-right: $spacing-lg; }
@mixin p-x-xl { padding-left: $spacing-xl; padding-right: $spacing-xl; }

@mixin p-y-sm { padding-top: $spacing-sm; padding-bottom: $spacing-sm; }
@mixin p-y-md { padding-top: $spacing-md; padding-bottom: $spacing-md; }
@mixin p-y-lg { padding-top: $spacing-lg; padding-bottom: $spacing-lg; }
@mixin p-y-xl { padding-top: $spacing-xl; padding-bottom: $spacing-xl; }

@mixin m-sm { margin: $spacing-sm; }
@mixin m-md { margin: $spacing-md; }
@mixin m-lg { margin: $spacing-lg; }
@mixin m-xl { margin: $spacing-xl; }

@mixin m-x-sm { margin-left: $spacing-sm; margin-right: $spacing-sm; }
@mixin m-x-md { margin-left: $spacing-md; margin-right: $spacing-md; }
@mixin m-x-lg { margin-left: $spacing-lg; margin-right: $spacing-lg; }
@mixin m-x-xl { margin-left: $spacing-xl; margin-right: $spacing-xl; }

@mixin m-y-sm { margin-top: $spacing-sm; margin-bottom: $spacing-sm; }
@mixin m-y-md { margin-top: $spacing-md; margin-bottom: $spacing-md; }
@mixin m-y-lg { margin-top: $spacing-lg; margin-bottom: $spacing-lg; }
@mixin m-y-xl { margin-top: $spacing-xl; margin-bottom: $spacing-xl; }

@mixin border-box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin content-box-sizing {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
