h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;

  text-transform: uppercase;
  color: $color-secondary-text;

  margin-top: $spacing-lg;
  margin-bottom: $spacing-md;
}

h1 { font-size: $text-xxl; line-height: 100%; }
h2 { font-size: $text-xxl; line-height: 100%; text-align: center; }
h3 { font-size: $text-xl; line-height: 100%; }
h4 { font-size: $text-lg; line-height: 100%; }

/**
 * Lists
 *
 * */
ul {
  list-style: disc inside;
}

ol {
  list-style: decimal outside;
}

ul,
ol {
  padding-left: $spacing-xl;

  margin-bottom: $spacing-md;
}

hr {
  @include m-y-lg;

  height: 1px;
  background-color: $color-button-primary;
  color: $color-button-primary;
  border: 0;
}

em { font-style: italic; }
strong { font-weight: bold; }
