.u-full-width { width: 100%; }
.u-full-height { height: 100%; }

.u-text-center { text-align: center; }
.u-text-justify { text-align: justify; }

.u-float-right { float: right; }
.u-float-left { float: left; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
