$spacing-unit: 1rem;
$text-unit: 1em;

$border-radius: .15em;

/* padding */
$spacing-xs: .4  * $spacing-unit;
$spacing-sm: .5  * $spacing-unit;
$spacing-md: 1   * $spacing-unit;
$spacing-lg: 1.5 * $spacing-unit;
$spacing-xl: 3   * $spacing-unit;
$spacing-xxl: 4  * $spacing-unit;

/* text */
$text-xs: .6  * $text-unit;
$text-sm: .75 * $text-unit;
$text-md: 1   * $text-unit;
$text-lg: 1.5 * $text-unit;
$text-xl: 2   * $text-unit;
$text-xxl: 4   * $text-unit;

/* sizes */
$size-sm: 3 * $spacing-unit;
$size-md: 5 * $spacing-unit;
$size-lg: 7 * $spacing-unit;

/* colours */
$color-primary: #DC3919;
$color-primary-text: white;

$color-secondary: #FBFBFB;
$color-secondary-text: #4A4A4A;

$color-tertiary: #282828;
$color-tertiary-text: #E1E1E1;

$color-button-primary: #CCC;
$color-button-primary-text: #373A3C;

$color-cover: #474747;

/**
 * screen sizes derived from twbs
 *
 * https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss:84
 *
 * */

/* Small screen / phone */
$screen-mobile: 544px;
/* Medium screen / tablet */
$screen-tablet: 768px;
/* Large screen / desktop */
$screen-desktop: 992px;
