/**
 * minimalist-cover
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */

@import "variables";
@import "spacing";
@import "grid";
@import "utilities";
@import "links";
@import "transformations";

@import "nav";
@import "typography";
@import "header";
@import "content";
@import "portfolio";
@import "footer";
@import "form";

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;

  min-height: 100vh;
}

main {
  @include link-color($color-secondary-text);

  @include device(handheld) { padding: $spacing-md $spacing-lg; }
  @include device(tablet)   { padding: $spacing-md $spacing-xxl; }
  @include device(desktop)  { padding: $spacing-md (2 * $spacing-xxl); }

  /* allow main content to fill up all available space */
  flex-grow: 1;
}
